In [6]:
import numpy as np

In [7]:
#Putting values in array
food = np.array([[3,3],[4,2]])
cost = np.array([[11.25],[10]])

In [8]:
#Finding inverse of array and them multiplying with cost
np_arr = np.linalg.inv(food)
price = np_arr.dot(cost)

In [9]:
print("The cost of soft tacos is " + '{}'.format(price[0][0]))
print("The cost of burritos is " + '{}'.format(price[1][0]))

The cost of soft tacos is 1.25
The cost of burritos is 2.5